<section class="bg-zinc-50">
    <div class="banner mt-20">
        <img src="../../../assets/About-Banner.svg" alt="About-Banner" class="w-full h-96" />
    </div>
    <div class="about text-center my-8">
        <p class="text-3xl font-semibold text-[#0E2431]">About Us</p>
    </div>
    <div class="story flex justify-evenly mt-8">
        <div class="text w-[50%] bg-white p-8 rounded-lg shadow-md">
            <p class="font-medium text-sm text-[#0E2431]">
                Epic Dining's ambiance seamlessly blends contemporary elegance with traditional charm, immersing diners
                in a world where
                every meal becomes an epic journey. The meticulously curated menu mirrors the rich tapestry of Indian
                cuisine, offering
                a symphony of flavors ranging from the fiery North to the coastal South.
                <br>
                <br>
                Beyond being a mere restaurant, Epic Dining stands as a jubilant celebration of India's culinary
                prowess. The chefs,
                true masters of their craft, infuse each dish with a captivating story that resonates with the soul of
                Indian culinary
                artistry. The attentive staff, adorned in vibrant traditional attire, adds a warm touch, ensuring guests
                feel cherished
                in this epicurean saga.
                <br><br>
                As the sun sets, Epic Dining transforms with a magical glow, and its rooftop unveils a captivating view
                of the city
                skyline. It's a place where families unite, friends raise toasts to shared moments, and each bite
                promises a sensory
                adventure. Epic Dining transcends being a mere restaurant; it's a destination where the essence of
                India's culinary
                heritage is relished in every flavor, rendering it an epic dining experience.
            </p>
        </div>
        <div class="w-[40%] bg-white p-8 rounded-lg shadow-md">
            <img src="../../../assets/About.jpg" alt="" class="w-full h-full rounded-lg" />
        </div>
    </div>

    <div class="bg-cover bg-no-repeat bg-center h-56 my-10"
        style="background-image: url('../../../assets/About-bottom.jpg');">
        <div class="flex justify-around items-center bg-opacity-75 bg-gray-900 text-white p-8 rounded-md">
            <div class="my-16">
                <p class="font-semibold text-3xl text-orange-500">50</p>
                <p class="font-semibold text-xl text-white">Beverages</p>
            </div>
            <div>
                <p class="font-semibold text-3xl text-orange-500">50</p>
                <p class="font-semibold text-xl text-white">Dishes</p>
            </div>
            <div>
                <p class="font-semibold text-3xl text-orange-500">50</p>
                <p class="font-semibold text-xl text-white">Menu</p>
            </div>
            <div>
                <p class="font-semibold text-3xl text-orange-500">50</p>
                <p class="font-semibold text-xl text-white">Locations</p>
            </div>
        </div>
    </div>
</section>