<section class="my-8 bg-cover bg-center opacity-95 bg-no-repeat" style="background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <p class="text-center font-bold text-2xl text-[#0E2431]">Admin Dashboard</p>

    <div class="flex flex-wrap justify-around">
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Orders</p>
            <p class="font-semibold text-[#0E2431] text-lg">{{totalOrder}}</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Products</p>
            <p class="font-semibold text-[#0E2431] text-lg">{{totalProduct}}</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Users</p>
            <p class="font-semibold text-[#0E2431] text-lg">{{totalUsers}}</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Queries</p>
            <p class="font-semibold text-[#0E2431] text-lg">{{totalQueries}}</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Deliveries</p>
            <p class="font-semibold text-[#0E2431] text-lg">100+</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Happy Customer</p>
            <p class="font-semibold text-[#0E2431] text-lg">500+</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Deliveries On The Way</p>
            <p class="font-semibold text-[#0E2431] text-lg">10</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Amount Recieve</p>
            <p class="font-semibold text-[#0E2431] text-lg">Rs: 100000+ INR</p>
        </div>
        <div class="card bg-white p-4 rounded-md shadow-md my-5 w-[30%] text-center">
            <p class="font-semibold text-[#0E2431] text-xl">Total Variety</p>
            <p class="font-semibold text-[#0E2431] text-lg">50+</p>
        </div>
    </div>
</section>