<section>

  <div class="mt-24">
    <p class="text-center text-3xl font-semibold">Contact Us</p>
  </div>

  <div class="flex  justify-around items-center">
    <div class="contact w-[60%]">
      <img src="../../../assets/Contact.svg" alt="Contact-Image" class="w-[80%]" />
    </div>

    <div class="contact-form w-[40%]">
      <section>
        <p class="text-3xl font-semibold text-orange-600">Address</p>
        <p class="font-semibold text-[#0E2431] text-[18px]">Add -: <img
            src="https://cdn.hugeicons.com/icons/location-03-stroke-rounded.svg" class="inline" alt="location-03"
            width="24" height="24" /> 28, first floor, Andheri, Mumbai (400001)</p>
        <p class="font-semibold text-[#0E2431] text-[18px]">Call -: <img
            src="https://cdn.hugeicons.com/icons/call-stroke-rounded.svg" class="inline" alt="call" width="24"
            height="24" /><a href="tel:+91 - 8541639820 "> 8541639820</a></p>
        <p class="font-semibold text-[#0E2431] text-[18px]">Email -: <img
            src="https://cdn.hugeicons.com/icons/mail-01-stroke-rounded.svg" class="inline" alt="mail-01" width="24"
            height="24" /> <a href="mailto:support@epicdine.in"> support@epicdine.in</a></p>
      </section>
      <section class="mt-10">
        <p class="text-3xl font-semibold text-orange-600">Working Hours</p>
        <p class="font-semibold text-[#0E2431] text-[18px]">9am to 11pm on Weekdays</p>
      </section>

      <section class="mt-16">
        <p class="text-3xl font-semibold text-orange-600">any Queries: <a class="text-blue-500 hover:cursor-pointer"
            (click)="queryBtn()">Click</a></p>
      </section>
    </div>
  </div>

</section>