<h2 mat-dialog-title>Password Change</h2>
<div mat-dialog-content>
    <form [formGroup]="forgotPassword">
        <mat-form-field class="full-width" class="w-full">
            <input matInput type="email" formControlName="userEmail" placeholder="Email" required>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" class="w-full">
            <input matInput type="password" formControlName="userPassword" placeholder="New Password" required>
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required.
            </mat-error>
            <mat-error *ngIf="password?.errors?.['pattern']">
                Password should have a minimum 8 characters with at least one symbol, one upper-case letter, one
                lower-case letter, and one number.
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!forgotPassword.valid" (click)="onSubmit()">Change
        Password</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
</div>